SUPABASE_URL=https://dvjsrjuhslwtwhgceymg.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
GCLOUD_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
APP_WEB_BASE_URL=https://comprinhas-460819.web.app
